<h1>Job Search</h1>
<p>whoop dee doo...</p><br><br>
<p> @user = params[:user] </p><br>
<%= @user %><br><br>
<p>@name = params[:user][:name]</p><br>
<%= @name %><br><br>
<p>@location = params[:user][:location] </p><br>
<%= @location %><br><br>
<p>@languages = params[:user][:languages]</p><br>
<%= @languages %>

<h1>Hey wanna be employed?</h1>
<%= form_tag("results", method: "get") do %>
<%= submit_tag("YES!") %>
<% end %>